
a{
    text-decoration: none;
    color: var(--color-5);
}
.titre{
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6em;
    font-weight: bold;
}
.menu {
    position: absolute;
    z-index: 99;
    cursor: pointer;
    color: azure;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
/* création de la nav bar */
.ul-nav-bar{
    background-color: var(--color-opacity-white);
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 2;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    padding: 10px 20px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.ul-nav-bar li{
    position: relative;
    padding: 10px;
    border-radius: 4px;
    color: black;
    overflow: hidden;
}
.ul-nav-bar li:hover{
    background-color: var(--color-opacity-white);
}
.lien-nav-bar{
    text-decoration: none;
}
.ul-nav-bar li::before{
    content: " ";
    position: absolute;
    width: 5px;
    height: 60px;
    background-color: #ffffff;
    transform: rotate(35deg);
    top: -10px;
    left: -25px;
    filter: blur(3px);
}
.ul-nav-bar li:hover::before{
    animation: glow 1s linear;
}
@keyframes glow {
    0%
    {
        left: -20px;
    }
    100%{
        left: 300px;
    }
}
/* création de la side bar */
.div-side-bar{
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
    transition: .5s  ease-in-out;
}
.logo-side-bar{
    display: block;
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.liste-side-bar{
    padding-top: 30px;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: -400px;
    height: 90vh;
    width: 300px;
    background-color: var(--color-opacity-white);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    transition: .5s ease-in-out;
}
.ul-side-bar-1, .ul-side-bar-4{
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
}
.ul-side-bar-2, .ul-side-bar-3{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.liste-side-bar li{
    position: relative;
    color: var(--color-5);
    padding: 20px;
    margin-right: 40px;
    border-radius: 10px;
}
li.primaire::after{
    content: " ";
    position: absolute;
    border-left: 5px solid black;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    transition: .5s;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.ul-side-bar-3:hover li.primaire::after{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}
.ul-side-bar-2:hover li.primaire::after{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}
li.seconde{
    margin-left: 20px;
    display: none;
}
.ul-side-bar-2:hover li.seconde{
    display: block;
}
.ul-side-bar-3:hover li.seconde{
    display: block;
}

.liste-side-bar li:hover{
    background-color: var(--color-1);
}
.div-side-bar:hover .logo-side-bar{
    top: 10px;
    left: 265px;
}
.div-side-bar:hover .liste-side-bar{
    left: 0px;
}
/* Placement de la page principale*/
.un_page{
    top: 0;
    bottom: 0px;
    position: absolute;
    z-index: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
}
.fondecran{
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blur-titre{
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 50%;
    margin-top: 6em;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 500px;
    height: 6em;
    background-color: rgba(255, 255, 255, .4);
    filter: blur(20px);
}
@media (max-width : 1222px){
    .ul-nav-bar{
        display: none;
    }
    .div-side-bar{
        display: block;
    }
    .titre{
        font-size: 3em;
    }
    .blur-titre{
        width: 300px;
        height: 3em;
        margin-top: 3em;
    }
}
.rien{
    display: none;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10rem;
    border: 2px solid #FFF;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
:root{
    --border-radius-text: 10px;
    --temps-transition-menu:1s;
    --temps-transition-navbar:.5s;
    --color-opacity-white:rgb(255, 255, 255, .5);
    --color-opacity-black:rgb(0, 0, 0, .5);
    --color-deagrder-fondecran:linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    --color-0:#ffffff;
    --color-1:#cccccc;
    --color-2:#999999;
    --color-3:#666666;
    --color-4:#333333;
    --color-5:#000000;
    --color-6:#cc0000;
}